@font-face {
    font-family: 'Dosis';
    src: url('../fonts/ShadowsIntoLightTwo-Regular.ttf');
}

html, body {
    overflow: hidden;
    margin: 0;
    font-family: 'Dosis';
    color: #fff;
    font-size:  20;
}

html {
    background: #e3e2db;
}

.logo-outer {
	min-width: 800px;
	width: 100%;
}

.logo-holder {
	font-size: 1.5em;
	color: black;
	position: absolute;
	margin-left: -100px;
	left: 50%;
    top: 30%;
	text-align: center;
}


progress {
	width: 200px;
	height: 15px;
}

/* background: */
progress::-webkit-progress-bar { background-color: white; width: 100%; }
progress { background-color: white; }

/* value: */
progress::-webkit-progress-value { background-color: #1d6052 !important; }
progress::-moz-progress-bar { background-color: #1d6052 !important; }
progress { color: #1d6052; }

#game-holder {
}

#canvas {
    width: 100%; /* 100% causes slider sometimes */
    height: auto;
/*    min-width: 800px; */
    background: #e3e2db;  /* url(../images/backgrounds/background.jpg); */
    background-size: 100% 100%;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#params {
    display: none; 
    position: absolute; 
    top: 0;
    background: rgba(0,0,0,0.8);
    padding: 1em;
    width: 350px;
}

#edit-button {
    position: absolute; 
    top: 0;
    z-index: 100;
}

.param-list {
    height: 400px;
    overflow-y: scroll;
}

.param-row {
    display: table;
    border-bottom: 1px solid grey;
	width: 100%;
}

.param-key {
    display: table-cell;
    width: 150px;
}

.param-value {
    display: table-cell;
    width: 50px;
    border: 1px solid black;
    background: none;
    color: #fff;
}

.param-units {
    display: table-cell;
    width: 100px;
	text-align: right;
}


button {
    background: #73e9f9;
    border: none;
}
